.parent {
    display: flex; /* The div .parent is now a flex container. */
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
}

.child {
    /* All of these items are now flex items. */
    order: 2;
    flex-grow: 2;
    flex-shrink: 2;
}