/* Global */

h1, h2, h3 {
    font-family: 'Gloock';
    font-weight: lighter;
}

h1 {
    font-size: 5rem;
    line-height: 1;
}

* { 
    font-family: serif;
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: #16272c;

    background-image: url(./images/backgroundimg.png);
    background-position: center;
    background-repeat: repeat;
    background-size: stretch;
    background-attachment:fixed;
    z-index: -1;
}

.profilepic img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects img {
    border-radius: 50px;
}

.socials img {
    border-radius: 0px;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    /*floating navbar setup*/
    overflow: hidden;
    background-color: #2a5351;
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 1000;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;

    /*floating navbar setup*/
    float: left;
    display: block;
    text-align: center;
    padding: 7px 8px;
    margin: 5px;
}

header a:hover {
    background: white;
    color:#16272c;
}

/* Main */

main {
    padding: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

/* Main - aboutme */

.aboutme {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.aboutme img {
    width: 600px;
    margin-bottom: 20px;
}

.messageaboutme {
    margin: 20px
}

/* Main - projects */

.projects {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #2a5351;
    color: white;
    padding: 20px;
    border-radius: 50px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.catproject, .zingproject {
    flex: 1 0 200px;
}

.projects img {
    width: 450px;
}

/* Main - contactme */

.contactme {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#contactform {
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: #2a5351;
    border-color: #2a5351;
    color: white;
    padding: 20px;
    border-radius: 50px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

fieldset {
    border: none;
    line-height: 1.75;
}

#username, #useremail, #contactreason {
    width: fit-content;
    height: auto;
    font-size: 1.5rem;
}

#additionalcomments {
    width: 100%;
    height: 100px;
    font-size: 1.5rem;
}

#submitbutton {
    font-size: 1.5rem;
    width: auto;
    height: auto;
}

/* Footer styling */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.socials {
    margin-bottom: 20px;
}

/* Media query, grid */

@media screen and (min-width: 768px) {

    /*Grid setup*/

    .gridcontainer {
        display: grid;
        grid-template-areas: 
            "aboutme"
            "projects";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    
    .aboutme {
        grid-area: aboutme;
    }

    .projects {
        grid-area: projects;
    }

    h1 {
        font-size: 6rem;
    }

    /* aboutme */

    .aboutme {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row-reverse;
        margin-top: 70px;
    }

    .messageaboutme {
        text-align: left;
        margin: 20px;
        max-width: 700px;
    }

    .aboutme img {
        margin: 20px;
    }

    /* projects */

    .projects {
        display: flex;
        width: 75vw;
    }

    .projects img {
        width: 30vw;
        padding: 10px;
    }

    .catproject, .zingproject {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    .messagecat, .messagezing {
        text-align: left;
        width: 30vw;
        padding: 10px;
    }

    /* contactme */

    .contactme {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        margin-top: 20px;
    }

    .titlecontactme {
        width: 30vw;
        text-align: left;
    }

}