.aboutme-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2em;
  margin-top: 5em;
}

.aboutme-container h1 {
  text-align: left;
  margin-top: 0;
}

.aboutme-container ul {
  list-style: none;
}

.aboutme-container ul li::before {
  content: '>';
  color: #ec005a;
  font-family: 'Silkscreen', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.aboutme-container img {
  width: 17.5em;
  border-radius: 50%;
  border: 20px solid #f0ece5;
  box-sizing: border-box;
  margin: 3em;
}

.aboutme-container-description {
  width: 50%;
  min-width: 20em;
  margin: 3em;
}

@media (max-width: 600px) {
  .aboutme-container {
    flex-wrap: wrap;
  }

  .aboutme-container img {
    width: 75%;
    margin: 0;
    margin-top: 1em;
    border: 15px solid #f0ece5;
  }

  .aboutme-container h1 {
    text-align: center;
    margin: 0.75em;
    margin-left: 0;
    margin-right: 0;
  }

  .aboutme-container-description {
    margin: 0;
    width: 100%;
    min-width: none;
  }

  .aboutme-container ul li::before {
    font-size: 1.5rem;
  }
}
