.aboutme-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aboutme-container-description,
.aboutme-container img {
  margin: 1em;
  padding: 0.5em;
}

.aboutme-container-description {
  max-width: 40em;
}
.aboutme-container img {
  width: 20em;
}

@media (max-width: 600px) {
  .aboutme-container {
    flex-wrap: wrap;
  }
  .aboutme-container-description {
    margin-bottom: 2em;
  }
}
