.contactme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 4em;
}

.contactme-container img {
  width: 3em;
  transition: transform 0.3s ease-in-out;
  margin: 1em;
  margin-bottom: 0;
}

.contactme-container h2 {
  margin: 0.5em;
}

.contactme-container img:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .contactme-container {
    margin: 2em;
  }
}
