.navbar-container {
  background-color: #161a30;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.navbar-container-list {
  list-style-type: none;
  padding: 0.25em;
  margin: 0;
  display: flex;
}

.navbar-container-list li {
  margin: 0.75em;
  position: relative;
  font-family: 'Silkscreen', sans-serif;
  text-transform: uppercase;
}

.navbar-container-list a {
  text-decoration: none;
  color: #f0ece5;
  position: relative;
}

.navbar-container-list a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ec005a;
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.navbar-container-list a:hover::before,
.navbar-container-list a.active::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 600px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-container-list {
    justify-content: center;
  }
}

.navbar-hidden {
  transform: translateY(-100%);
}
