.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #161a30;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
  font-family: 'Silkscreen', sans-serif;
  text-transform: uppercase;
}

.navbar-container a {
  text-decoration: none;
  color: #f0ece5;
  position: relative;
  margin-right: 3em;
}

.navbar-container a:last-child {
  margin-right: 0;
}

.navbar-container a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ec005a;
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.navbar-container a:hover::before,
.navbar-container a.active::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar-hidden {
  transform: translateY(-120%);
}

@media (max-width: 600px) {
  .navbar-container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
