.projects-container {
  margin: 0;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container-search {
  display: flex;
  align-items: center;
  margin: 1em;
  border: 3px solid #ec005a;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.search-icon {
  color: #ec005a;
  margin-right: 0.5em;
}

.projects-container-search input {
  font-size: 1rem;
  margin: 0.5em;
  border: none;
  font-family: 'Silkscreen', sans-serif;
  background-color: #161a30;
  color: #ec005a;
}

.projects-container-search input::placeholder {
  color: #ec005a;
}

.projects-container-search input:focus {
  outline: none;
}

.projects-container-cards-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-container-card {
  border-radius: 1em;
  overflow: hidden;
  background-color: #1b203d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 2em;
}

.projects-container-card a {
  font-family: 'Silkscreen', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #ec005a;
  font-size: 1.25rem;
}

.projects-container-card-description {
  margin-top: 1em;
}

@media (min-width: 600px) {
  .projects-container,
  .projects-container-cards-group {
    margin: 2em;
  }

  .projects-container {
    margin-top: 5em;
  }

  .projects-container-card,
  .projects-container-search {
    max-width: 30em;
  }

  .projects-container-card {
    width: 35%;
    min-width: 20em;
  }

  .projects-container-search {
    width: 20em;
  }
}
