.projects-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects-container-cards-group {
  display: flex;
  flex-direction: row;
  margin: 1em;
  padding: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-container-card {
  margin: 1em;
  padding: 0.5em;
  width: 10em;
}
