img {
  width: 75px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1b1f38;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.25),
    0 -4px 8px rgba(0, 0, 0, 0.25);
}

.skills-container-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 0.5em 0.5em;
}

.skills-container img {
  transition: transform 0.3s ease-in-out;
  margin: 0.5em;
  padding: 0.25em;
}

.skills-container img:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .skills-container-images {
    max-width: 100%;
  }
}
