img {
  width: 75px;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: red;
}

.skills-container img {
  margin: 1em;
  padding: 0.5em;
  transition: transform 0.3s ease-in-out;
}

.skills-container img:hover {
  transform: scale(1.1);
}
