body {
  margin: 0;
  margin-top: 2.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161a30;
  color: #f0ece5;
}

h1,
h2,
h3,
strong {
  color: #ec0082;
}

@media (max-width: 600px) {
  body {
    margin-top: 5.5em;
    font-size: 1.2rem;
  }
}
