body {
  margin: 0;
  margin-top: 2em;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161a30;
  color: #f0ece5;
}

h1,
h2,
h3,
strong {
  color: #ec005a;
  font-family: 'Silkscreen', sans-serif;
}

h1 {
  font-size: 6.5rem;
}

h2 {
  font-size: 3.5rem;
}

strong {
  font-family: sans-serif;
}

@media (max-width: 600px) {
  body {
    margin-top: 4.5em;
    font-size: 1.25rem;
  }

  h1 {
    font-size: 4.25rem;
  }

  h2 {
    font-size: 3rem;
  }
}
